# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Model files
*.joblib
*.pkl

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
!data/.gitkeep

# Environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# MacOS
.DS_Store
